<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= BASE_URL %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>LoopGrafter</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/png" href="icon.png">
</head>

<body>

  <div id="app"></div>
  <!-- built files will be auto injected -->

</body>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://loschmidt.chemi.muni.cz/piwik/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '22']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://loschmidt.chemi.muni.cz/piwik/matomo.php?idsite=22&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->

</html>