<template>
  <button type="button" class="button" @click="$emit('click')">
    <span class="protein">S</span>
    <span class="download" v-if="download">=</span>
  </button>
</template>

<script>
export default {
  props: {
    download: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style scoped>
.protein {
  font-family: "EBI-Conceptual";
  font-size: 25px;
}
.download {
  font-family: "EBI-Common";
  font-size: 15px;
}
button {
  display: flex;
  align-items: center;
  padding: 1px;
}
</style>