<template>
    <div class="handle">
        <span class="icon"></span>
    </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.icon {
  font-family: "EBI-Common";
  font-size: 14px;
}
.handle {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-left: 2px;
  width: 1px;
  height: 1em;
  background: var(--neutral);
  color: gray;
}
button:hover {
  color: white;
}
.label {
  margin-left: 1em;
  white-space: nowrap;
}
</style>