<template>
  <button @click="$emit('click')">{{text}}</button>
</template>

<script>
export default {
  props: ["text"]
};
</script>

<style scoped>
button {
  background: var(--accent);
  color: #fff;
  border: 1px var(--accent) solid;
  padding: 10px 10px;
  margin: 0px 2px;
}
</style>